body {
    background-image: url('../img/Fondo_muro.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    font-family: 'Lato', sans-serif;
    color: #fff;
}

.main-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 40px; 
}


.header-ribbon {
    width: 100%;
    height: 80px;
    background-color: #110c21;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px; 
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}


.image-buttons {
    display: flex;
    gap: 40px; 
}

.header-btn {
    width: 60px;
    transition: all 0.3s ease;
}

.header-btn:hover {
    transform: scale(1.2);
    border-bottom: 3px solid #ff4500; 
}


.profile-container {
    background-color: rgba(17, 12, 33, 0.85); 
    border-radius: 20px;
    padding: 60px 50px; 
    width: 500px;
    max-width: 90%;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.5); 
    color: white;
    text-align: center;
    margin-top: 50px; 
    transition: all 0.3s ease;
}


.profile-container:hover {
    transform: translateY(-5px); 
    box-shadow: 0px 12px 20px rgba(0, 0, 0, 0.7); 


.profile-container h1 {
    margin-bottom: 30px;
    font-size: 36px; 
    color: #ffffff; 
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1.5px;
}


.profile-info {
    margin-bottom: 20px; 
    font-size: 20px;
    color: #ffffff;
    border-bottom: 1px solid #ff4500; 
    padding-bottom: 15px;
    text-align: left;
    font-weight: 300;
    display: flex;
    justify-content: space-between;
}


.profile-button {
    padding: 15px 30px; 
    border-radius: 25px;
    background-color: #ff4500;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 18px; 
    font-weight: bold;
    transition: background-color 0.3s ease, transform 0.3s ease;
    margin-top: 30px;
    text-transform: uppercase;
}

.profile-button:hover {
    background-color: #ff6347;
    transform: scale(1.05); 
}

@media (max-width: 768px) {
    .profile-container {
        padding: 40px;
        width: 90%;
    }

    .profile-info {
        font-size: 18px;
    }

    .profile-button {
        padding: 12px 25px;
        font-size: 16px;
    }

    .header-btn {
        width: 50px;
    }
}